*{
	margin: 0;
}
.w3-top{
	position: fixed;
	width: 100%;
	z-index: 1;
	top: 0;
}
.w3-bar{
	width: 100%;
	
}
.w3-bar:before, .w3-bar:after{
	content:"";
	display: table;
	clear: both;
}
.w3-bar .button{
	white-space: normal;
}
.white{
	color: #000!important;
	background-color: #fff;
}
.wide{
	letter-spacing: 4px;
}
.padding{
	padding: 8px 16px;
}
.card{
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.w3-bar-item{
	padding: 8px 16px;
	float: left;
	display: block;
}
.button{
	text-decoration: none;
	text-align: left;
	padding: 8px 16px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	border: none;
}
.button:hover{
	color: #000;
	background-color: #ccc;
}
.w3-right{
	float: right!important;
}

/******* Header *********/
.w3-display-container{
	position: relative;
}
.content{
	margin-left: auto;
	margin-right: auto;
}
.wide{
	letter-spaceing: 4px;
}
.w3-display-middle{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: traslate(-50%, -50%);
}
.w3-image{
	max-width: 100%;
}
.margin-top{
	margin-top: 16px;
}
.center{
	text-align: center;
}
.w3-xxlarge{
	font-size: 32px;
}
.text-white{
	color: #fff;
}
.black{
	background-color: #000;
	color: #fff;
}
.opacity{
	opacity: 0.75;
}
.text-light-grey{
	color: #f1f1f1;
}
.container{
	padding: 0.01em 16px;
}
.padding-32{
	padding-top: 32px;
	padding-bottom: 32px;
}
.border-bottom{
	border-bottom: 1px solid #ccc!important;
	border-color: #f1f1f1;
}
.padding-16{
	padding-top: 16px;
	padding-bottom: 16px;
}
.row-padding{
	display: flex;
}
.col.13{
	width:24.99%;
}
.col.m6{
	width: 49.9%;
}
.margin-bottom{
	margin-bottom: 16px;
}
.display-container{position: relative;}
.display-topleft{
	position: absolute;
	left: 0;
	top: 0;
}
.row-padding:after, .row-padding:before{
	content:"";
	display: table;
	clear:both;
}
.col{
	padding: 0 8px;
}
.grayscale{
	filter: grayscale(75%);
}
.light-grey{
	color: #000;
	background-color: #f1f1f1;
}
.block{
	width: 100%;
}
/******* Contact ******/
.border-light-grey{
	border-color:#f1f1f1!important;
}
.input{
	padding: 8px; 
	display: block;
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100%;
}
.border{
	border: 1px solid #ccc;
}
.section{
	margin-top: 16px;
	margin-bottom: 16px;
}








/******* Footer *********/
.hover-text-green:hover{
	color: #4CAF50;
}
